@media only screen 
and (min-width: 360px) 
and (max-width: 600px) {

  .habitListItem {
    width: 90%;
    border: 1px solid gold;
    margin: 0 auto;
  }

  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .habit {
    width: 100%;
    display: flex;
  }

  .comment {
    border: .5px solid black;
    border-radius: 15px;
    box-shadow: 0 0 5px black;
    width: 70%;
    height: 4vh;
  }

  .progress { 
    width: 50%;
   
  }

  .progressLine {
    top: 50%;
  }

  .link {
    width: 50%;
  }

}