@media only screen 
and (min-width: 360px) 
and (max-width: 600px) {
  .section {

    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    .user {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 25vw;
    }

    .logout {
      display: flex;
    }

    .img {
      height: 8vh;
      border-radius: 100%;
    }

    h4 {
      margin: .5vh;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: lighter;
      margin: 10px;
    }

    .logoutButton {
      background-color: rgb(255, 255, 255);
      border-radius: 20rem;
      border-width: .1rem;
      border-color: rgb(226, 226, 226);
      top: -50%;
  }

  }
}