@import url("https://fonts.googleapis.com/css?family=Averia+Serif+Libre%7CJulius+Sans+One&display=swap");

.desktop {
  max-width: 360px;
  margin: 0 auto;
}

.habitInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 35vh;
  text-align: center;
}

h3 {
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
  margin: 10px 0 10px 0;
}

.progress {
  width: 80%;
  margin: 0 auto;
}

.progressLine {
  top: 50%;
}

.ulWrapper {
  margin: 0 auto;
}

li {
  text-align: center;
}

h6 {
  margin: 20px auto 10px auto;
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
  font-size: 1rem;
}

.ul {
  padding: 0;
  overflow: auto;
  border: 1px solid black;
  border-radius: 15px;
  list-style: none;
  height: 19vh;
  margin: 0 auto;
  width: 80%;

  li:nth-child(odd) {
    background-color: #7979792c;
    margin: 10px auto;
    padding: 5px;
  }
}

.wrapper {
  padding: 0;
  overflow: auto;
  border: 1px solid black;
  border-radius: 15px;
  list-style: none;
  height: 64vh;
  margin-top: 10px;
}

p {
  margin: 0;
  font-weight: lighter;
  font-family: "Julius Sans One", sans-serif;
}

.habitTitle {
  margin: 0 auto;
}

.attempt {
  margin: 10px;
}

.timestamp {
  font-size: 0.8em;
  color: #797979;
}

.form {
  font-style: italic;
  font-family: "Julius Sans One", sans-serif;
}

.formInput {
  font-family: "Averia Serif Libre", cursive;
}

.comment {
  font-family: "Averia Serif Libre", cursive;
  font-size: 0.75em;
}
.actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  margin: 0 auto;
  width: 70%;

  .deleteButton {
    background-color: rgb(209, 67, 52);
  }

  .editButton {
    background-color: rgb(167, 219, 216);
  }
}

