@media only screen and (min-width: 360px) and (max-width: 600px) {
  .nav {
    margin: 5px auto;
  }
}


.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 15px;
  position: relative;
  bottom: 0;
  width: 360px;
  height: 9vh;
  background-color: white;
  margin: 9px auto;
}

a {
  svg {
    color: black;
    font-size: 3em;
  }
}

img {
  border-radius: 15px;
  margin-top: 1vw;
}

