
@media only screen 
and (min-width: 360px) 
and (max-width: 600px) {
  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    position: fixed;
    bottom: 0;
    width: 95vw;
    height: 9vh;
    margin: 5px auto;
    background-color: white;
  }

    a {
      svg {
        color: black;
        font-size: 3em;
      }
    }
  
  img {
    border: 2px solid rgb(122, 121, 121);
    border-radius: 15px;
    margin-top: 1vw;
  }
}
